// SPDX-License-Identifier: GPL-2.0+

partitions {
	compatible = "fixed-partitions";
	#address-cells = <1>;
	#size-cells = <1>;

	u-boot_backup@0 {
		reg = <0x0 0x60000>;
		label = "u-boot_backup";
	};

	u-boot-env_backup@60000 {
		reg = <0x60000 0x20000>;
		label = "u-boot-env_backup";
	};

	kernel_backup@80000 {
		reg = <0x80000 0x440000>;
		label = "kernel_backup";
	};

	rofs_backup@c0000 {
		reg = <0x4c0000 0x1740000>;
		label = "rofs_backup";
	};

	rwfs_backup@1c00000 {
		reg = <0x1c00000 0x3e0000>;
		label = "rwfs_backup";
	};

	dtb_backup@1fe0000 {
		reg = <0x1fe0000 0x20000>;
		label = "dtb_backup";
	};
};