// SPDX-License-Identifier: GPL-2.0+

partitions {
	compatible = "fixed-partitions";
	#address-cells = <1>;
	#size-cells = <1>;

	u-boot@0 {
		reg = <0x0 0x60000>;
		label = "u-boot";
	};

	u-boot-env@60000 {
		reg = <0x60000 0x1000>;
		label = "u-boot-env";
	};

	kernel@61000 {
		reg = <0x61000 0x4BD000>;
		label = "kernel";
	};

	rofs@51E000 {
		reg = <0x51E000 0x1740000>;
		label = "rofs";
	};

	rwfs@1C5E000 {
		reg = <0x1C5E000 0x395000>;
		label = "rwfs";
	};
	
	dtb@1FF3000 {
		reg = <0x1FF3000 0xD000>;
		label = "dtb";
	};	
};
